
@font-face {
    font-family:'Gilroy-Bold' ;
    src: url(fonts/gilroy-bold-cufonfonts/Gilroy-Bold.ttf);
}
@font-face {
    font-family:'popins' ;
    src: url(/fonts/Poppins/Poppins-Regular.ttf);
}
/* 

- App style

*/
:root{
    --white: #ffffff;
    --black:hsl(0, 0%, 0%);
    --gray:#898B91;
    --font-gilroy-bold:'Gilroy-Bold';
    --font-popins:'popins';
    --pink:#AE68FA;
    --dark-blue:#3E4581;

}
html {
font-size: 62.5%; 
scroll-behavior: smooth;
}

*,
*::after,
*::before {
box-sizing: inherit;
}

.container {
width: 100%;
margin-right: auto;
margin-left: auto;
position: relative;
}
body {
font-size: 2rem;
line-height: 1.5;
background-color: var(--bg-color);
color: var(--black);
}

/*

-- Reset Styles

*/
a {
text-decoration: none;
}

ul {
list-style-type: none;
padding-left: 0;
margin: 0;
}
/*

-- Helper Classes

*/
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 

- App Style

*/

/* 

--------------- Header---------------------

*/
.header{
    margin-top: 3rem;
    font-family:'popins';
    font-size: 1.5rem;
}

/* 

- Header__Nav

*/
.nav{
 justify-content: space-around;
 color: var(--dark-blue);
 gap: 21rem;
}
.nav__logo{

}
.nav__links{
    gap: 2rem;
}
.nav__link{
cursor: pointer;
}
.nav__link:hover{
    cursor: pointer;
    color: var(--pink);
    transition: .3s;
}
.nav__buttons{
    gap: 2rem;
}
.nav__button{
    cursor: pointer;
    background-color:var(--pink);
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: var(--white);
    border: solid .1rem var(--pink);
    transition: all .5s ease;
}
.nav__button:hover{
    background-color:var(--white);
    color: var(--pink);
    border: solid .1rem var(--pink);
}




/* 

- Header__Nav

*/
.header__wrappers{
    flex-direction: column;
    justify-content: flex-start;
}
.header__wrapper{
  justify-content: space-between;
  margin-right: -12rem;
  gap: 10rem; 
}
.header__content{
    margin-top: -8rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    color: var(--dark-blue);
}
.header__title{
    font-size:4rem;
    width: 30rem;
}
.header__caption{
    font-size: 1.5rem;
    width: 30rem;
    line-height: 2rem;
}
.header__buttons{
    gap: 2rem;
}
.header__button{
    cursor: pointer;
    background-color:var(--pink);
    padding: 1rem 3rem;
    border-radius: 1rem;
    color: var(--white);
    border: solid .1rem var(--pink);
    transition: all .5s ease;
}
.header__button:hover{
    cursor: pointer;
    background-color:var(--white);
    color: var(--pink);
    border: solid .1rem var(--pink);
    padding: 1rem 3rem;
    border-radius: 1rem;
}
.header__image-container{
}
.header__image{
    width: 60rem;
    height: 60rem;
}